* {
    /* background-color: whitesmoke; */
    /* font-stretch: expanded; */
    padding: 0;
    margin: 0;
    
}

/* header {
    background-color: #316DC3;
    height: 20%;
    text-align: center;
    font-size: 0.5cm;
    padding: 1%;
    color: white;
    margin: 0;
    position: sticky;
} */
* {
    margin: 0%;
    padding: 0%;
  }
 
  .dropbtn {
    background-color: whitesmoke;
    color: black;
    padding: 10px 15px 10px 15px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    
  }
  
  .homedropbtn { 
    background-color: royalblue;
    color: white;
    padding: 10px 15px 10px 15px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 7cm;
  }
  .logo {
    margin-top: 1cm;
    margin-left: 3cm;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
    
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {
    background-color: #f1f1f1
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: royalblue;
  }
  
  nav {
    width: 100%;
    position: fixed;
    margin-top: -1cm;
    background-color: whitesmoke;
    padding-bottom: 15px;
  }
  
  

.coverimg {
    margin-top: 3cm;
}

h1 {
    font-family: serif;
    font-weight: bold;
    font-size: 42px;
    text-align: center;
    padding: 2cm;
    text-decoration: underline;
    color: #316DC3;
    text-decoration: none;
}

p {
    margin: 2em 10em;
    line-height: 1.5em;
    color: grey;
}

div.count {
    background-color: #316DC3;
    padding: 1cm 3cm 2cm 3cm;
}

h2.count {
    font-size: 54px;
    color: white;
}

.countimg {
    width: 3em;
    display: inline-block;
    height: 3em;
    background-color: #316DC3;
}

h1 {
    text-align: center;
}
.img2 {
    margin-top: 2.2cm;
    width: 100%;
}


.sixbutton {
    font-family: 'Markazi Text', serif;
    font-size: 30px;
    color: #316DC3;
    background-color: white;
    box-shadow: -2px -2px 20px lightgrey;
    height: 5cm;
    width: 10cm;
    margin: 0.4em 0.4em 0.4em 0.4em;
    border: none;
}

#b2 {
    background-color: white;
}
.b3 {
    background-color: white;
    text-decoration: none;
}

.whole {
    text-align: center;
    background-color: whitesmoke;
    padding-bottom: 2cm;
}

h2 {
    color: whitesmoke;
    font-weight: bolder;
    font-family: serif;
    background-color: #316DC3;
    font-size: 48px;
}

span.duction {
    color: green;
    align-items: center;
}

.countimg {
    background-color: #316DC3;
}

.monthly {
    background-color: #316DC3;
    color: greenyellow;
}

table {
    background-color: #316DC3;
    color: black;
    width: 500px;
}

th {
    background-color: #316DC3;
}

h4 {
    background-color: #316DC3;
    color: whitesmoke;
    padding: 0px 100px 0px 70px;
}

tr {
    background-color: #316DC3;
    width: 3cm;
    padding: 0px 100px 0px 70px;
}

h3 {
    color: #316DC3;
    font-size: xx-large;
    margin: 3cm 3cm 1cm 3cm;
}

.fourb {
    color: #316DC3;
    font-weight: bold;
    font-size: 16px;
    background-color: whitesmoke;
    box-shadow: -2px -2px 20px lightgrey;
    height: 2cm;
    width: 10cm;
    margin: 0.2em 0.4em 0.4em 0.4em;
    border: none;
}

.bottomb {
    text-align: left;
    margin-left: 3cm;
}


.fiveimg {
    text-align: center;
    margin-bottom: 5cm;
}

.contact {
    color: rgb(170, 170, 170);
    background-color: rgb(39, 42, 42);
    display: block;
}

.cont {
    margin-top: 2cm;
    width: 10cm;
    margin-left: 1cm;
}

.foottwo {
    background-color: rgb(39, 42, 42);
    display: inline-flex;
}

.footone {
    color: white;
    background-color: rgb(39, 42, 42);
    ;
}

.footfour {
    background-color: rgb(39, 42, 42);
    text-align: left;
    margin-left: -3cm;
    padding: 0.5cm 0.5cm 0.5cm 0.5cm;
}

.foot {
    text-align: left;
    margin-top: -3.5cm;
    margin-left: -2cm;
    color: white;
    font-size: larger;
    width: 5cm;
}

.footfive {
    color: white;
    background-color: rgb(39, 42, 42);
}

.psix {
    color: white;
    margin-top: -3.4cm;
    margin-left: 4cm;
    width: 5cm;
}


.footer {
    background-color: #316DC3;
    padding-left: 3cm;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-size: small;
}

.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }


@media only screen and (max-width: 768px) {
    th { 
        display: block;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    p {
        text-align: center;
         margin: 2%;
        font-size: 32px; 
    }
}
@media only screen and (max-width: 768px) {
    img2 {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    h1 {
        font-size: 15vw;
        margin: 0px auto 0px;
    }
}
@media only screen and (max-width: 768px) {
.para {
    margin-left: 2cm;
}
}